* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: whitesmoke;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}

.logo {
    color: #4b2c20;
    font-weight: bold;
    font-size: 24px;
}

.encabezado nav ul {
    display: flex;
    gap: 20px;
}

.encabezado nav ul li a {
    color: #4b2c20;
    transition: all 0.3s ease;
}

.encabezado nav ul li a:hover {
    color: #8b513a;
}

.hero{
    margin: 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=2070&fit=max);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;

    
}

.hero-title {
    font-size: 40px;
    color: #f5f5dc;
}

.hero a {
    background-color: #f5f5dc;
    font-weight: bold;
    padding: 10px 20px;
    color: #4b2c20;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: #f5f5dc 0px 0px 5px 0px;
}

.hero a:hover {
    background-color: #4b2c20;
    color: #f5f5dc;
    transform: translateY(-2px);
    box-shadow: #4b2c20 0px 0px 5px 0px;
}

.hero a:active {
    transform: translateY(1px);
    box-shadow: #4b2c20 0px 0px 5px 0px;  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #4b2c20;
    color: #f5f5dc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: #4b2c20 0px 0px 10px 0px;
    transition: transform 0.3s ease-in-out;
    background-color: #4b2c20;
}

.grid-item:nth-child(1):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(https://media.scoolinary.app/blog/images/2022/08/scoolinary-cafe-de-especialidad4.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.grid-item:nth-child(2):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(https://spaces-wp.imgix.net/2021/11/module1_coworking-720x800.jpeg?auto=compress,format&q=50);
    background-size: cover;
    background-position: center;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.grid-item:nth-child(3):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(https://www.remitly.com/blog/wp-content/uploads/2025/06/shutterstock_2529762837.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.pie-pagina {
    color: #4b2c20;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pie-pagina img {
    width: 30px;
}

.nombre {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .hero-title {
        font-size: 24px;
        text-align: center;
        padding: 0 10px;
    }

    .encabezado {
        flex-direction: column;
        gap: 15px;
    }

    .encabezado nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}